<ol class="breadcrumb">
  <li><a href="/">Apps</a></li>
  <li class="active"><%= attributes.name %></li>
  <li><a href="/apps/<%= attributes.name %>/jobs/">Jobs</a></li>
</ol>
<h1><%= attributes.name %></h1>
<img src="/apps/<%= attributes.name %>/thumb" alt="<%= attributes.title %>" height="200" width="355">
<% if(attributes.status == 'ready') { %>
<span class="label label-success"><%= attributes.status %></span></h4>
<% } else { %>
<span class="label label-error"><%= attributes.status %></span></h4>
<% } %>
<p><strong>Repo:</strong> <input value="<%= attributes.repo_url %>"></p>
<p><%= attributes.description %></p>
