<% _.each(items, function(item) { %>
  <div class="media">
    <a class="pull-left" href="/apps/<%= item.name %>">
      <img class="media-object" src="/apps/<%= item.name %>/thumb" alt="<%= item.title %>" width="200">
    </a>
    <div class="media-body">
      <h4 class="media-heading">
        <%= item.title %>
        <% if(item.status == 'ready') { %>
        <span class="label label-success"><%= item.status %></span></h4>
        <% } else { %>
        <% } %>
      <p><strong>Repo:</strong> <input value="<%= item.repo_url %>"></p>
      <p><%= item.description %></p>
    </div>
  </div>
<% }) %>
