<ol class="breadcrumb">
  <li><a href="/">Apps</a></li>
  <li><a href="/apps/<%= app.attributes.name %>/"><%= app.attributes.name %></a></li>
  <li><a href="/apps/<%= app.attributes.name %>/jobs/">Jobs</a></li>
  <li class="active"><%= attributes.name %></li>
</ol>

<h3><%= attributes.name %></h3>
<p><%= attributes.description %></p>
